In [12]:
# Exercício 1 – Higienização Básica

# Primeiro precisa ler o dataset
import pandas as pd

df = pd.read_excel('faltas_treinamento_sujo.xlsx')

# a) Verifique valores nulos e tipos incorretos.
# df.isnull() verifica de forma booleana se há valores nulos - True = valor nulo - False = valor não nulo
# se acrescentar o .sum() ele traz a quantidade de valores nulos somados por categoria
print("Os valores nulos por coluna:")
print(df.isnull().sum())
print()
print("Os tipos de formatos de dados de cada coluna:")
print(df.dtypes)
print()
print("Uma amostra das primeiras 10 linhas do dataset:")
print(df.head(10))

Os valores nulos por coluna:
Nome                           0
Departamento                   0
Turno                          0
Faltas                         0
Dia_da_Semana_Ultima_Falta     0
Data_Ultima_Falta              0
Evadiu                        14
dtype: int64

Os tipos de formatos de dados de cada coluna:
Nome                          object
Departamento                  object
Turno                         object
Faltas                         int64
Dia_da_Semana_Ultima_Falta    object
Data_Ultima_Falta             object
Evadiu                        object
dtype: object

Uma amostra das primeiras 10 linhas do dataset:
              Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0  Colaborador_001    Operações  Manhã      14                     Quarta
1  Colaborador_002    Operações  Manhã       1                    Segunda
2  Colaborador_003       Vendas  Manhã       3                    segunda
3  Colaborador_004    Marketing  manha       3                    Segunda
4  Colaborador_005           RH  manha       1                     Quarta
5  Colaborador_006           RH  manha       2                    segunda
6  Colaborador_007    Marketing  Manhã       1                    segunda
7  Colaborador_008    Operações  Manhã      11                      Terça
8  Colaborador_009   Financeiro  TARDE       2                    segunda
9  Colaborador_010           TI  manha       2                    segunda

  Data_Ultima_Falta Evadiu
0        18/01/2024    Sim
1        31/02/2024    Não
2        10/03/2024    Não
3        21/01/2024    Não
4        18/02/2024    Não
5        16/01/2024    Não
6        16/02/2024    Não
7        11/01/2024    Sim
8        21/01/2024    Não
9        18/03/2024    Não

In [21]:
# b) Corrija a coluna de datas inválidas.
# Não estava dando certo a conversão, então pedi para que o pandas ignore os erros de preenchimento, por exemplo: "32/02/2025"
df['Data_Ultima_Falta'] = pd.to_datetime(df['Data_Ultima_Falta'], errors='coerce', dayfirst=True)
print("Linhas com datas inválidas (convertidas para NaT):")
print(df[df["Data_Ultima_Falta"].isnull()])

Linhas com datas inválidas (convertidas para NaT):
                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
1    Colaborador_002    Operações  Manhã       1                    Segunda
59   Colaborador_060           RH  Tarde       1                     Quarta
84   Colaborador_085    Marketing  manha       1                     Quinta
85   Colaborador_086           RH  Tarde       3                    segunda
135  Colaborador_136    Marketing  Tarde       2                     Quinta
138  Colaborador_139    Marketing  Manhã       1                     Quinta
143  Colaborador_144    Marketing  Tarde       1                    Segunda
165  Colaborador_166    Marketing  TARDE       4                     Quarta
174  Colaborador_175   Financeiro  TARDE       0                      Sexta
188  Colaborador_189           RH  manha       1                     Quarta
197  Colaborador_198    Operações  manha       1                    segunda
210  Colaborador_211           RH  Manhã       3                      Terça

    Data_Ultima_Falta Evadiu
1                 NaT    Não
59                NaT    Não
84                NaT    Não
85                NaT    NaN
135               NaT    Não
138               NaT    Não
143               NaT    Não
165               NaT    Não
174               NaT    Não
188               NaT    Não
197               NaT    NaN
210               NaT    Não

In [26]:
# c) Normalize os nomes dos turnos e dias da semana.
df['Turno'] = df['Turno'].str.lower()
df['Dia_da_Semana_Ultima_Falta'] = df['Dia_da_Semana_Ultima_Falta'].str.lower() 
#print(df['Turno'])
#print(df['Dia_da_Semana_Ultima_Falta'])

df['Turno'] = df['Turno'].str.strip().str.title()
df['Dia_da_Semana_Ultima_Falta'] = df['Dia_da_Semana_Ultima_Falta'].str.strip().str.title()
#print(df['Turno'])
#print(df['Dia_da_Semana_Ultima_Falta'])

df['Dia_da_Semana_Ultima_Falta'] = df['Dia_da_Semana_Ultima_Falta'].replace({
    'Segunda': 'Segunda-feira',
    'Terça': 'Terça-feira',
    'Quarta': 'Quarta-feira',
    'Quinta': 'Quinta-feira',
    'Sexta': 'Sexta-feira'
})
print(df['Dia_da_Semana_Ultima_Falta'])

0       Quarta-Feira
1      Segunda-Feira
2      Segunda-Feira
3      Segunda-Feira
4       Quarta-Feira
           ...
219    Segunda-Feira
220    Segunda-Feira
221    Segunda-Feira
222    Segunda-Feira
223     Quinta-Feira
Name: Dia_da_Semana_Ultima_Falta, Length: 224, dtype: object

In [27]:
# Exercício 2 – Remoção e Substituição

# a) Remova os registros duplicados.
# o df.shape(0) é utlizado para contar quantos registros existem, então fiz antes e depois de aplicar o drop_duplicates()

print("Antes:", df.shape[0], "linhas")
df = df.drop_duplicates()
print("Depois:", df.shape[0], "linhas")

Antes: 224 linhas
Depois: 219 linhas

In [29]:
# b) Substitua os valores nulos da coluna Evadiu por “Desconhecido”.

print("Antes:")
print(df['Evadiu'].isnull().sum())

# fillna substitui os valores nulos na coluna por algo definido por você, como no caso: "Desconhecido"
df['Evadiu'] = df['Evadiu'].fillna('Desconhecido')

# A ideia é que depois ele traga valor
print("Depois:")
print(df['Evadiu'].isnull().sum())

Antes:
13
Depois:
0

C:\Users\40975512803\AppData\Local\Temp\ipykernel_11252\1315221318.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Evadiu'] = df['Evadiu'].fillna('Desconhecido')

In [ ]:
# c) Substitua os valores nulos da coluna Data_Ultima_Falta pela data mais comum.

data_mais_comum = df['Data_Ultima_Falta'].mode()[0]